.close-icon { cursor: pointer; float: right; padding-top: .4rem; }

.header { text-align: center; }
.header h1 { color: #45ADA8; margin: 1rem 0 0; }
.header a { color: #45ADA8; }
.header .logout { position: absolute; top: 2rem; right: 2rem;}
.header nav { margin-top: 2rem; padding: 1rem 0; border: solid 1px #594F4F; border-left: none; border-right: none; }
.header nav a { padding: 2rem; color: #594F4F; }
.header nav a:hover { padding: 2rem; color: #32c0b9; }

section { margin: 3rem 0; }

/* Overwrite default pink colour */
a, a:focus { color: #45ADA8; }
a:hover { color: #32c0b9; }
button, button:focus, button:hover { background-color: #45ADA8; color: #fff; border-color: #45ADA8; }
button:hover { background-color: #32c0b9; }
button.button-outline, button.button-outline:focus { color: #45ADA8; border-color: #45ADA8; }
button.button-outline:hover { color: #32c0b9; border-color: #32c0b9; }

.access-token form input { border-top-right-radius: 0; border-bottom-right-radius: 0 }
.access-token form button { border-top-left-radius: 0; border-bottom-left-radius: 0 }
.access-token .loading-icon { display: inline-block; vertical-align: middle; }
.access-token form input,
.access-token form button {
  display: inline-block;
  max-width: 300px;
  vertical-align: top;
}

.error-message { position: relative; }
.error-message p { margin: 0; }
.error-message .column {
  background-color: #FE4365;
  color: #fff;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 8rem;
  z-index: 1;
}

.transactions .transaction img,
.transactions .transaction .emoji { max-width: 20px; }
.transactions .transaction .category,
.transactions .transaction .description { text-transform: capitalize; }
.transactions thead th:last-child,
.transactions tbody td:last-child { text-align: right; white-space: nowrap; }

.footer { text-align: center; margin: 4rem 0; }
